/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecfccb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #365314;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d7c0f;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#365314, #365314);
}

.link-underline:hover {
  background-size: 100% 4px;
  background-position: 0 100%;
}
